body {
    text-align: center;
  }
  
  textarea {
    width: 32%;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #f4f4f9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
  }
  
  iframe {
    bottom: 0;
    border: 1px solid black;
    position: relative;
    width: 98%;
    height: 35em;
  }